body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
  }
  
  #titulo {
    
    text-align: center;
    margin: 20px 0;
    color: #333;
  }

/*FORMULARIO*/

#form{
  margin-top: 40px;
}

#terminos {
display: flex;
justify-content: flex-start;
align-items: center;
}

#accesorioluz {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  }

/* Estilos generales del formulario */
#reservationForm {
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

/* Estilos para las etiquetas */
label {
  font-family: 'Mulish', sans-serif;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
select{
  width: 100%;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;

}

input[type="text"],
textarea {
  width: 100%;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
input[type="number"]{
  width: 50%;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input[type="date"]{
  width: 50%;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
/* Estilos para el botón de envío */
input[type="submit"] {
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 100%;
  background-color: #923535;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bolder;
  margin-top: 25px;
}

/*títulos (como "Accesorios") */
h3 {
  margin-top: 20px;
  font-weight: bold;
}

/* Estilos para el área de texto (Descripción) */
textarea {
  width: 100%;
}

/* Estilos para los elementos de accesorios (como Sillas, Proyector, etc.) */
.accessory {
  margin: 10px 0;
}

/* Estilos para el contenedor de accesorios */
#accessories {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

/* Cambiar el color del botón de envío al pasar el mouse sobre él */
input[type="submit"]:hover {
  background-color: #7a2828;
}

#myModal {
  display: none;
  position: fixed;
  top: 220px;
  width: 56%;
  height: 50%;
  /* background-color: rgb(186, 144, 144); */
  background-color: rgba(194, 192, 192, 0.9);
  border-radius: 5px;
  text-align: center;
  left: 22%;
}

#closeModal{
  background-color: #923535;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

#reservaConfirm{
  color: #000;
  padding: 10px;
  border: none;
  font-weight: bolder;
  font-size: 2em;
}

#textoModal{
  font-size: 1.5em;
}

div.modal-content{
padding-top: 12%;
}


#salaActual{
  font-size: 1.5em;
  font-weight: bold;
  color: #923535;
  text-align: center;
  margin: 30px;
}